# Natural Language Processing Exercise 3

Now one hot encoding

Using same sms spam dataset: https://www.kaggle.com/uciml/sms-spam-collection-dataset

In [2]:
import nltk
import pandas as pd

In [9]:
data = pd.read_csv('../data/spam.csv', encoding = "ISO-8859-1")
data = data.iloc[:, :2]

In [10]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
corpus = data['v2']

In [24]:
from string import punctuation
def tokenize(string):
    # lowercase
    lowered = string.lower()
    
    # remove punctuation
    punc_trans = str.maketrans(punctuation, ' '*len(punctuation))
    cleaned = lowered.translate(punc_trans)
    
    # now split into tokens
    tokens = cleaned.split()
    
    return tokens

In [36]:
def tokenize(string):
    # lowercase
    lowered = string.lower()
    
    tokens = nltk.tokenize.wordpunct_tokenize(lowered)
    return tokens

In [37]:
tokenized = [tokenize(message) for message in corpus]

In [38]:
tokenized[0]

['go',
 'until',
 'jurong',
 'point',
 ',',
 'crazy',
 '..',
 'available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 '...',
 'cine',
 'there',
 'got',
 'amore',
 'wat',
 '...']

In [39]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
OneHotEncoder()